body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, 'sans-serif';
}

#countdown {
  width: 100%;
  font-size: 2.5em;
  text-align: center;
}

#menu {
  text-align: center;
  font-size: 2em;
}

#countdown h1 {
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 5px;
}

#countdown subtitle {
  font-weight: lighter;
  color: #999;
}

#graph {
  margin-top: 30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#graph-placeholder {
  min-height: 300px;
}


p.label {
  color: #999;
  font-size: 0.75em;
}

p.left { text-align: left; }
p.right { text-align: right; }


@media (max-width: 1024px) {
  #countdown {
    font-size: 1.3em;
  }

  #graph {
    font-size: 1em;
    width: 90%;
    margin-top: 10px;
  }
}
