<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enkindle</title>
    {% assets filters="cssmin", output="_gen/packed.css", "css/semantic/collections/menu.css",
                      "css/semantic/collections/grid.css", "css/app.css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css" media="all">
    {% endassets %}
  </head>
  <body>
    <div id="menu" class="ui inverted menu">
      <a class="item" href="#"><i class="home icon"></i> Enkindle</a>
    </div>
    <div id="countdown">
      <h1>{{ (sprint.end_date - today).days }} days</h1>
      <subtitle>to end of Sprint 1</subtitle>
    </div>

    <div id="graph">
      <h3>Burndown Chart<br />({{ sprint.start_date }} to {{ sprint.end_date }})</h3>
      <p class="label left">Points</p>
      <div id="graph-placeholder"></div>
      <p class="label right">Days</p>
    </div>

    {% assets filters="jsmin", output="_gen/packed.js", "js/jquery.min.js", "js/jquery.flot.min.js"%}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        $(function() {
          var optimal_data = [{% for p in optimal %}[{{ loop.index0 }}, {{ p }}],{% endfor %}],
              burn_data = [{% for b in burns %}[{{ loop.index0 }}, {{ b }}],{% endfor %}];

          $.plot("#graph-placeholder", [
          {
            data: optimal_data,
            lines: { show: true },
            points: { show: true }
          },
          {
            data: burn_data,
            lines: { show: true, fill: true },
            points: { show: true },
          },
          ]);
        });
    </script>

  </body>
</html>
